body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, lengend, button, input, textarea, th, td { margin: 0; padding: 0; } body, button, input, select, textarea { font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; } h1 { font-size: 18px; } h2 { font-size: 16px; } h3 { font-size: 14px; } h4, h5, h6 { font-size: 100%; } address, cite, dfn, em, var { font-style: normal; } code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } small { font-size: 12px; } ul, ol, li{ list-style: none; } a { text-decoration: none; } a:hover { text-decoration: underline; } abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help; } q:before, q:after { content: ''; } legend { color: #000; } fieldset, img { border: none; } button, input, select, textarea { font-size: 100%; } table { border-collapse: collapse; border-spacing: 0; } hr { border: none; height: 1px; } html { overflow-y: scroll; }

body{
	background-color: #f2eee8;
}

.main {
	position: relative;
	padding-top: 76px;
	overflow: hidden;
}

.header-fixed{
	height: 76px;
	line-height: 76px;
	position: fixed;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 0 1px 3px #eee;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.header-left{
	position: absolute;
	top: 0;
	left: 0;
}

.header-link-icon-first-container{
	width: 76px;
	height: 76px;
	border-right: 1px solid #ccc;
	display: inline-block;
}

.header-link-icon-first{
	display: inline-block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	background-color: #8ea8ca;
	font-size: 20px;
}

.header-link-icon-first:hover{
	background-color: #6d94b5; 
	color: #6d94b5;
}

.header-link-icon{
	display: inline-block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #ccc;
	text-align: center;
	vertical-align: middle;
	border-radius: 50px;
	margin-left: 10px;
	font-size: 20px;
}

.header-link-icon:hover{
	background-color: #8ea8ca;
	color: #8ea8ca;
}

header nav li a{
	font-size: 18px;
	text-align: center;
}

header nav li a i{
	font-size: 18px;
	text-align: center;
	color: #7a7a7a;
}

header nav li:hover i{
	color: #fff;
}

.icon-size{
	font-size: 25px;
	text-align: center;
    vertical-align: middle;
    color: #8ea8ca;
}

.header-center{
	text-align: center;
 	display: inline-block;
 	font-size: 18px;
}

header div a:hover{
	color: #fff;
}

.header-right{
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
	position: absolute;
	right: 20px;
}

.header-right-search{
	width: 206px;
	height: 42px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.header-right-image{
	height: 44px;
	width: 44px;
	border-radius: 50px;
	vertical-align: middle;
	margin-left: 10px;
}


.main-wapper-left{
	width: 290px;
	background-color: #8ea8ca;
	text-align: center;
	float: left;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}

.left-user-logo{
	margin-top: 60px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
}

.left-user-name{
	font-size: 16px;
	padding-top: 10px;
	color: #fff;
}

.left-user-info{
	padding-top: 10px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
	color: #fff;
}

div div a {
	color: #fff;
}

/*div div div a:visited{
	text-decoration: none;
}*/

div div a i{
	padding-right: 5px;
	font-size: 18px;
	color: #fff;
}

.left-user-follow{
	width: 160px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 40px;
	background-color: #6d94b5;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 18x;
	color: #fff;
}

.left-user-follow:hover{
	background-color: #8ea8ca;
}

.left-images-group{
	width: 290px;
	height: 290px;
}

.left-image{
	width: 30%;
	height: 30%;
	border: 1px solid #8ea8ca;
}

.left-image:hover{
	width: 31%;
	height: 31%
	
}

.left-activities{
	margin-bottom: 50px;
}

.left-bellow-title{
	font-size: 18px;
	color: #fff;
}

.left-i{
	color: #6d94b5;
	padding-right: 5px;
	font-size: 16px;
}

.left-bellow-list:hover i{
	color: #fff;
}

div ul li i a{
	font-size: 16px;
}

/*a, a:link, a:visited{
	text-decoration: none;
}*/

/*a, a:link:hover, a:visited:hover{
	color: #fff;
}*/

.left-bellow-title{
	text-align: left;
	padding-left: 10px;
}

.left-bellow-list{
	padding-top: 15px;
	text-align: left;
	padding-left: 20px;
}

.main-wapper-center{
	margin-top: 40px;
	width: 52%;
	display: inline-block;
	margin-left: 40px;
}

.center-table-container{
	height: 86px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 40px;
	display: inline-block;
}

.center-table-content{
	width: 24%;
	font-size: 14px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	display: inline-block;

}

.center-content-title{
	color: #ccc;
	padding-bottom: 5px;
}

.center-content-info{
	color: #4d4d68;
}

.center-table-content:hover{
	border-bottom: 3px solid #6d94b5;
}

.center_info_container{
	width: 100%;
	background-color: #fff;
}

.center_info_section{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.center-user-image{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
} 

.center-user-info{
	display: inline-block;
	width: 85%;
}

.center-user-name{
	color: #8c8c8c;
	padding-bottom: 15px;
	font-size: 14px;
}

section div p{
	color: #8c8c8c;
	float: right;
}

section div span a{
	color: #4d4d68;
}

.center-info-icon{
	font-size: 16px;
	color: #8c8c8c;
}

section ul li{
	font-size: 16px;
	display: inline-block;
}

.center-info-details{
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: 12px;
	line-height: 15px;
}

.center-video{
	width: 100%;
	height: 300px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.main-wapper-right{
	width: 290px;
	background-color: #fff;
	box-shadow: 0 1px 3px #eee;
	float: right;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}

.right-part1-container{
	padding-top: 40px;
	padding-left: 30px;
	padding-bottom: 50px;
}

.right-part1-title{
	font-size: 16px;
	padding-bottom: 30px;
	color: #8c8c8c;
}


.right-part1-list{
	padding-bottom: 10px;
}

.right-part1-list-info{
	color: #81aad3;
	font-size: 14px;
}
.right-part1-icon{
	color: #81aad3;
}

.right-part2-container{
	padding-left: 30px;
}

.right-user-image{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
} 

.right-part2-title-container{
	padding-bottom: 30px;
}

.right-part2-title{
	font-size: 16px;
	display: inline-block;
	color: #8c8c8c;
}

.right-part2-more{
	color: #8ea8ca;
	display: inline-block;
	float: right;
	padding-right: 20px;
	font-size: 16px;

}

.right-part2-user{
	vertical-align: top;
}

.right-part2-info{
	padding-top: 7px;
}

.right-part2-user{
	display: inline-block;
	color: #8c8c8c;
}

.right-part2-lists{
	position: relative;
	padding-bottom: 15px;
}
.right-part2-icon{
	position: absolute;
	padding: 10px 10px 10px 10px;
	border: 1px solid #ccc;
	right: 0;
	top: 0;
	margin-right: 20px;
}
.right-part2-icon:hover{
	color: #fff;
	background-color: #8ea8ca;
}

@media (max-width: 1025px) and (min-width: 768px) {

	.r-ipad-header-fixed{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	
	.r-ipad-main-left{
		float: left;
		width: 30%;
	}

	.r-ipad-main-right{
		width: 30%;
		float: left;
		padding-bottom: 1000px;
		padding-top: 40px;
	}

	.r-ipad-left-images-group{
		width: 100%;
	}

	.r-ipad-h3{
		font-size: 13px;
	}
	
	.r-ipad-p{
		font-size: 12px;
	}

	.r-ipad-main-center{
		float: right;
		width: 67%;
		margin-left: 0;
	}

	.r-ipad-part1-container{
		display: none;
	}

	.center-video{
		width: 100%;
		height: 250px;
	}
	.center-user-info{
		width: 85%;
	}

	.center-info-details{
		font-size: 13px;
		padding-top: 15px;
	}
	p,a{
		font-size: 13px;
	}
}

@media (max-width: 767px) and (min-width: 300px) {
	.r-iphone-header-fixed{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}
	.header-link-icon{
		display: none;
	}
	.header-right-search{
		display: none;
	}
	.main-wapper-left {
		display: none;
	}

	.main-wapper-right {
		display: none;
	}

	.r-iphone-main-wapper-center{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}
	
	.center-table-container{
		height: auto;
	}
	.r-iphpone-center-table-content{
		display: block;
		width: 100%
	}
	.center-video{
		width: 100%;
		height: 200px;
	}
	.center-user-info{
		width: 75%;
	}
	p,a{
		font-size: 12px;
	}
}